<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title th:text="${pageName}+' - '+${projectName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/common/flowers.ico">

    <!-- jQuery UI -->
    <!--<link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">-->

    <!-- Bootstrap -->
    <link href="/manage/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/manage/css/styles.css" rel="stylesheet">


    <!-- alert -->
    <link rel="stylesheet" type="text/css" href="/manage/alert/css/ns-default.css"/>
    <link rel="stylesheet" type="text/css" href="/manage/alert/css/ns-style-growl.css"/>

    <link rel="stylesheet" href="/manage/md/css/editormd.css"/>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/manage/jquery.js"></script>

    <!--   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <link href="/manage/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="/manage/js/datetime.js"></script>
    <script src="/manage/bootstrap/js/moment-with-locales.js"></script>
    <script src="/manage/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/manage/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/templates/manage/other/html5shiv.js"></script>
    <script src="/templates/manage/other/respond.min.js"></script>
    <![endif]-->
</head>