<div class="sidebar content-box" style="display: block;" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav">
        <!-- Main menu -->
        <li class="current"><a href="/manage/index"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li class="submenu" th:each="menuVO:${layerList}">
            <a href="#">
                <i class="glyphicon glyphicon-list"></i>
                <span th:text="${menuVO.name}">组名</span>
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li th:each="authjBean:${menuVO.menus}">
                    <a th:href="${authjBean.uri}" th:text="${authjBean.name}">管理员列表</a>
                </li>
            </ul>
        </li>
        <li class="submenu" th:if="${moreMenu!=null}">
            <a href="#">
                <i class="glyphicon glyphicon-list"></i>
                <span>未分组</span>
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li th:each="authjBean:${moreMenu.menus}">
                    <a th:href="${authjBean.uri}" th:text="${authjBean.name}">管理员列表</a>
                </li>
            </ul>
        </li>
    </ul>
</div>