<div th:fragment="script" xmlns:th="http://www.thymeleaf.org">


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/manage/bootstrap/js/bootstrap.min.js"></script>
    <script src="/manage/js/custom.js"></script>
    <script src="/manage/alert/js/modernizr.custom.js"></script>
    <script src="/manage/alert/js/classie.js"></script>
    <script src="/manage/alert/js/notificationFx.js"></script>


    <script type="text/javascript" src="/manage/js/common/base.js"></script>
    <script type="text/javascript" src="/manage/js/common/request.js"></script>
    <script type="text/javascript" src="/manage/js/common/search.js"></script>
</div>