<div th:fragment="topbar" class="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="/manage/index.html" th:text="${projectName}+'管理后台'">xxx管理后台</a></h1>
                </div>
            </div>

            <div class="col-md-5">
                <!--<div class="row">
                    <div class="col-lg-12">
                        <div class="input-group form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="col-md-2">
                <div th:if="${login}" class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${nickName}">未登录</span><b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="/manage/index">主页</a></li>
                                    <li><a href="/manage/mine/setting/basic">修改个人信息</a></li>
                                    <li><a href="/manage/mine/setting/password">修改密码</a></li>
                                    <li><a href="/manage/login">退出登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
