<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/common/head"></head>

<body>

<section id="container">
    <!--头部-->
    <header th:replace="manage/common/header"></header>

    <!-- 菜单栏 -->
    <aside th:replace="manage/common/aside"></aside>

    <!--主要内容 -->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header th:replace="manage/common/box-header"></header>
                        <div class="panel-body">
                            <fieldset>
                                <div class="form-group">
                                    <label>原密码</label>
                                    <input type="text" class="form-control" id="oldPwd" placeholder="请输入">
                                </div>
                                <div class="form-group">
                                    <label>新密码</label>
                                    <input type="text" class="form-control" id="newPwd" placeholder="请输入">
                                </div>
                            </fieldset>
                            <div>
                                <div class="btn btn-primary" id="save">
                                    <i class="fa fa-save"></i>
                                    保存
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>

    <!--右侧边栏 -->
    <div th:replace="manage/common/right-sidebar"></div>

</section>
<!-- external javascript -->
<div th:replace="manage/common/script"></div>

<script type="text/javascript" src="/manage/custom/page/mine/setting/password.js"></script>
<script>
    window.onload = function () {

        var password = new window.controller.Password();

        password.init();
    };
</script>


</body>
</html>