<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="jdkhome">
    <link rel="shortcut icon" href="/common/flowers.png">

    <title>500</title>

    <!-- Bootstrap core CSS -->
    <link href="/manage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/manage/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/manage/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/manage/css/style.css" rel="stylesheet">
    <link href="/manage/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/manage/js/html5shiv.js"></script>
    <script src="/manage/js/respond.min.js"></script>
    <![endif]-->
</head>




  <body class="body-500">

    <div class="error-head"> </div>

    <div class="container ">

      <section class="error-wrapper text-center">
          <h1><img src="/manage/images/500.png" alt=""></h1>
          <div class="error-desk">
              <h2>妈耶!!!</h2>
              <p class="nrml-txt-alt">发生了意外错误.</p>
              <p>请联系开发人员，我们会尽快解决你的问题.</p>
          </div>
          <a href="/" class="back-btn"><i class="fa fa-home"></i> 回到主页</a>
      </section>

    </div>


  </body>
</html>
