<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/common/head"></head>

<body>
<!-- topbar starts -->
<div th:replace="manage/common/topbar"></div>
<!-- topbar ends -->

<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="manage/common/menu"></div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div th:replace="manage/common/box_header"></div>

                    <div class="content-box-large box-with-header">
                        <div class="panel-body">
                            <fieldset>
                                <input type="hidden" id="adminId" th:value="${obj.id}">
                                <div class="form-group">
                                    <label>登录名</label>
                                    <span th:text="${obj.username}"></span>
                                </div>
                                <div class="form-group">
                                    <label>密码</label>
                                    <input type="text" class="form-control" id="password" placeholder="请输入">
                                </div>
                            </fieldset>
                            <div>
                                <div class="btn btn-primary" id="save">
                                    <i class="fa fa-save"></i>
                                    保存
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="manage/common/footer"></footer>

<!-- external javascript -->
<div th:replace="manage/common/script"></div>

<script type="text/javascript" src="/manage/js/page/system/admin/edit.js"></script>
<script>
    window.onload = function () {

        var adminEdit = new window.controller.AdminEdit();

        adminEdit.init();
    };
</script>


</body>
</html>