<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/common/head"></head>

<body>

<section id="container">
    <!--头部-->
    <header th:replace="manage/common/header"></header>

    <!-- 菜单栏 -->
    <aside th:replace="manage/common/aside"></aside>

    <!--主要内容 -->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header th:replace="manage/common/box-header"></header>
                        <div class="panel-body">

                            <div class="form-group col-md-3">
                                <label>用户昵称</label>
                                <input class="form-control" placeholder="请输入" type="text" id="nickName" name="search">
                            </div>

                            <div class="form-group col-md-3">
                                <label>authjUri</label>
                                <input class="form-control" placeholder="请输入" type="text" id="authjUri" name="search">
                            </div>

                            <div class="form-group col-md-3">
                                <label>authjName</label>
                                <input class="form-control" placeholder="请输入" type="text" id="authjName" name="search">
                            </div>



                            <div class="form-group col-md-6">
                                <label>时间</label>
                                <div class="input-group input-large">
                                    <input type="text" id="timeBegan" name="search" readonly class="dpd1 datetime-picker form-control">
                                    <span class="input-group-addon">To</span>
                                    <input type="text" id="timeEnd" name="search" readonly class="dpd2 datetime-picker form-control">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <legend></legend>
                            </div>

                            <div class="col-md-12">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-success" id="list-search">
                                            <i class="glyphicon glyphicon-search"></i>筛选
                                        </button>
                                    </div>
                                    <div class="btn-group pull-right">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover general-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>管理员</th>
                                        <th>功能信息</th>
                                        <th>参数</th>
                                        <th>记录</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="obj,objStatus : ${pageInfo.list}">
                                        <td th:text="${obj.id}"></td>
                                        <td>
                                            <span th:text="${obj.adminName}"></span>
                                            (<span th:text="${obj.adminId}"></span>)
                                        </td>
                                        <td>
                                            <span th:text="${obj.authjUri}"></span>
                                            <br>
                                            <span th:text="${obj.authjName}"></span>
                                        </td>
                                        <td th:text="${obj.paramers}"></td>
                                        <td>
                                            <span th:text="${obj.ip}"></span>
                                            <br>
                                            <span th:text="${#dates.format(obj.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:replace="manage/common/paginate"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>

    <!--右侧边栏 -->
    <div th:replace="manage/common/right-sidebar"></div>

</section>

<!-- external javascript -->
<div th:replace="manage/common/script"></div>

<!--<script type="text/javascript" src="/manage/js/page/mine/admin/list.js"></script>-->
<script>
    window.onload = function () {
        //
        // var adminList = new window.controller.AdminList();
        //
        // adminList.init();

        var search = new window.controller.Search();

        search.init();
    };
</script>
</body>
</html>