<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/common/head"></head>

<body>

<section id="container">
    <!--头部-->
    <header th:replace="manage/common/header"></header>

    <!-- 菜单栏 -->
    <aside th:replace="manage/common/aside"></aside>

    <!--主要内容 -->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header th:replace="manage/common/box-header"></header>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <legend>筛选条件<a class="empty"><i class="glyphicon glyphicon-repeat"></i></a></legend>
                            </div>
                            <div class="form-group col-md-3">
                                <label>用户昵称</label>
                                <input class="form-control" placeholder="请输入" type="text" id="nickName" name="search">
                            </div>

                            <div class="form-group col-md-3">
                                <label>authjUri</label>
                                <input class="form-control" placeholder="请输入" type="text" id="authjUri" name="search">
                            </div>

                            <div class="form-group col-md-3">
                                <label>authjName</label>
                                <input class="form-control" placeholder="请输入" type="text" id="authjName" name="search">
                            </div>

                            <div class="col-md-12">
                                <button class="btn btn-round btn-success" id="list-search">
                                    <i class="glyphicon glyphicon-search"></i>搜索
                                </button>
                            </div>
                            <div class="col-md-12">
                                <legend>内容</legend>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover general-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>管理员id</th>
                                        <th>管理员昵称</th>
                                        <th>authjUri</th>
                                        <th>authjName</th>
                                        <th>参数</th>
                                        <th>ip</th>
                                        <th>时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="obj,objStatus : ${pageInfo.list}">
                                        <td th:text="${obj.id}"></td>
                                        <td th:text="${obj.adminId}"></td>
                                        <td th:text="${obj.adminName}"></td>
                                        <td th:text="${obj.authjUri}"></td>
                                        <td th:text="${obj.authjName}"></td>
                                        <td th:text="${obj.paramers}"></td>
                                        <td th:text="${obj.ip}"></td>
                                        <td th:text="${#dates.format(obj.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div th:replace="manage/common/paginate"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>

    <!--右侧边栏 -->
    <div th:replace="manage/common/right-sidebar"></div>

</section>

<!-- external javascript -->
<div th:replace="manage/common/script"></div>

<!--<script type="text/javascript" src="/manage/js/page/mine/admin/list.js"></script>-->
<script>
    window.onload = function () {
        //
        // var adminList = new window.controller.AdminList();
        //
        // adminList.init();

        var search = new window.controller.Search();

        search.init();
    };
</script>
</body>
</html>