<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/common/head"></head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="index.html">
        <h2 class="form-signin-heading">欢迎使用</h2>
        <div class="login-wrap">
            <div class="user-login-info">
                <input class="form-control" name="username" type="text" placeholder="账户">
                <input class="form-control" name="password" type="password" placeholder="密码">
            </div>
            <!--<label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
            </label>-->
            <a class="btn btn-lg btn-login btn-block" id="login">登录</a>

            <div class="registration">
                没有账户？
                <a class="" href="#">
                    联系管理员注册账号
                </a>
            </div>

        </div>

        <!-- Modal -->
        <!--<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- modal -->

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->
<!-- external javascript -->
<div th:replace="manage/common/script"></div>
<script type="text/javascript" src="/manage/custom/page/login.js"></script>
<script>
    window.onload = function () {

        var controller = new window.controller.Login();

        controller.init();
    };
</script>
</body>
</html>
